body{
  margin :50px;

}
/*------------------the nav bar styles*/
#navbar {
  background-color: orange;

}




/*================== the search bar styles*/
.search {
float: right;
}


a:link {
  color:white;
}

.colsTest {
 background-color: yellow;

}
.orangeLogo {
  color:white;
}
#paragraph{
  font-family: fantasy;
  color: orange;
  font-size:45px;
}

.boldBlue{
color:#7accc8;
}
/*-----------------button styles*/

#buttonOrange{
  margin: 3px;
border-radius: rounded;
background: orange;
}

#buttonBlue{
  margin: 3px;
border-radius: rounded;
background: #7accc8;
}

.button{
  color: white;
}
#last{
  border: solid;
  margin :25px;
  padding-top: 15px;
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  background: #7accc8;
  color: #7accc8;
}
